<!--Contato -->
<section class="py-5">
    <div class="rounded-3 py-5 px-4 px-md-5 mb-5" style="background-color: #f7d3ad;">
        <div class="text-center mb-5" style="color: #425862;">
            <h1 class="fw-bolder">
                Entrar em Contato
            </h1>
            <p class="lead fw-normal text-muted mb-0">Queremos ouvir você!!</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">

                <form id="contactForm">
                    <!-- Nome Complete input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="name" type="text" placeholder="Nome..." />
                        <label for="name">Nome Completo</label>
                    </div>
                    <!-- Email input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="email" placeholder="nome@mail.com" />
                        <label for="email">Email</label>
                    </div>
                    <!-- Número de Telefone input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" type="tel" placeholder="(79) 99999-9999" />
                        <label for="phone">Telefone</label>
                    </div>
                    <!-- Mensagem input-->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="message" type="text" placeholder="Digite sua mensagem..."
                            style="height: 10rem"></textarea>
                        <label for="message">Mensagem</label>
                    </div <!-- Submit Button-->
                    <div class="d-grid"><button class="btn btn-lg disabled" id="submitButton"
                            style="background-color: #655d54; color: #fcfcfc" type="submit">Enviar</button></div>
                </form>
            </div>
        </div>
    </div>
</section>

