<!-- Dashboard - Área Segura -->
<section class="py-5">
    <div class="rounded-3 py-5 px-4 px-md-5 mb-5" style="background-color: #f7d3ad;">
        <div class="row gx-5 justify-content-center">
            <!-- Main Content -->
            <div class="col-md-9">
                <div class="container mt-4">
                    <h2>Dashboard</h2>
                    <a class="nav-link page" href="/gerenciar-categorias" data-link>
                        <i class="bi bi-tag">Gerenciar Categorias</i>
                    </a>
                    <a class="nav-link page" href="/gerenciar-produtos" data-link>
                        <i class="bi bi-tag">Gerenciar Produtos</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>