<!--Sobre -->
<section class="container my-5">
    <section class="py-5">
    <div class="container px-5">
        <div class="rounded-3 py-5 px-4 px-md-5 mb-5" style="background-color: #f7d3ad;color: #425862;">
        <h1 class="fw-bolder">
            Sobre
        </h1>
        <section class="mb-5">
            <p>
            A Fábrica ABC, situada no coração da indústria têxtil brasileira, é um exemplo vibrante de inovação e
            adaptação aos novos tempos. Especializada na produção de itens de cama, mesa e banho, a ABC construiu sua
            reputação na qualidade superior de seus produtos, que incluem lençóis de algodão egípcio, toalhas macias e
            resistentes, e uma variedade de artigos para decoração de interiores.
            </p>
            <p>
            Com o avanço da tecnologia digital e a crescente demanda por conveniência nas compras, a ABC decidiu
            expandir
            suas operações para o comércio eletrônico. Esta transição para o ambiente online marca um momento
            significativo na história da empresa, permitindo-lhe atender a uma clientela mais ampla e diversificada em
            todo o Brasil.
            </p>
            <p>
            O modelo de negócios adotado pela ABC no comércio eletrônico é o B2C (Business-to-Consumer), no qual a
            empresa
            vende diretamente para o consumidor final. Este modelo é ideal para o varejo online, pois facilita a
            interação
            direta com os clientes, permitindo uma experiência de compra personalizada e eficiente.
            </p>
            <p>
            A plataforma de e-commerce da ABC foi desenhada para oferecer uma navegação intuitiva e segura, com
            descrições
            detalhadas dos produtos, fotos de alta qualidade e opções variadas de pagamento. Além disso, a ABC investiu
            em
            uma logística robusta e eficiente, garantindo entregas rápidas e seguras em várias regiões do país.
            <p />
            <p>
            Com esta nova fase, a Fábrica ABC não apenas mantém sua tradição de excelência e qualidade, mas também se
            posiciona como uma empresa moderna e adaptável, pronta para enfrentar os desafios e aproveitar as
            oportunidades do século 21.
            </p>
        </section>
        </div>
    </div>
    </section>
</section>