<!--Not Found -->
<section class="py-5">
    <div class="container text-center mt-5">
      <h1 class="display-1 fw-bold" style="color: #425862;">404</h1>
      <p class="fs-3" style="color: #425862;"> <span class="text-danger">Ops!</span> Página Não Encontrada.</p>
      <p class="lead">
        A página que você procura pode ter sido removida, ter seu nome alterado ou estar temporariamente indisponível.
      </p>
      <a class="btn btn-lg px-4 me-sm-3" style="background-color: #7d7062; color: #f8e9d8" href="/" data-link>
        Página Inicial
      </a>
      <a class="btn btn-outline-dark btn-lg px-4 fw-bolder" href="/contato" data-link>
        Contato
      </a>
    </div>
  </section>