<!--Login -->
<section class="py-5">
    <div class="rounded-3 py-5 px-4 px-md-5 mb-5" style="background-color: #f7d3ad;">
      <div class="row gx-5 justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center mb-4 fw-bolder" style="color: #425862;">Autenticação | Login</h5>
              <form id="loginForm">
                <div class="mb-3">
                  <label for="inputUsuario" class="form-label">Usuário</label>
                  <input type="text" class="form-control" id="inputUsuario" name="usuario" required value="kminchelle"/>
                </div>
                <div class="mb-3">
                  <label for="inputPassword" class="form-label">Senha</label>
                  <input type="password" class="form-control" id="inputSenha" name="senha" required value="0lelplR"/>
                </div>
                <button type="submit" class="btn w-100" style="background-color: #7d7062; color: #f8e9d8">Enviar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>